header {
    @include box-sizing();
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 500;
    border-bottom: solid 1px #ccc;
    background-color: #fff;

    @media #{$mq-medium} {
        padding: 1em 0;        
    }
}

.header-max{
    max-width:$max-width;
    margin:0 auto;
    padding:0;
}

.logo-link {
    display: inline-block;
}

.logo {
    height: 3em;
    width: auto;
    display: inline-block;
    border: none;
    padding: 1rem 0 1rem 2.5%;

    @media #{$mq-medium} {
        height: 4em;
        padding: 1rem 0 0 1rem;
        float:left;
    }
}

%nav-links {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.nav-launch {
    @include no-select;
    @extend %nav-links;
    float: right;
    margin: 0 .5em 0 0;
    height: 50px;
    display: inline-block;

    @media #{$mq-medium} {
        display: none;
    }

    & a {
        @include no-select();
        border-bottom: solid 1px $neutral;
        text-decoration: none;
    }
}


.nav-launch__title {
    font-size: .75em;
    font-weight: 400;
    padding: 0;
    margin: 0 0 0 .5em;
    line-height: .75em;

    @media #{$mq-580} {
        font-size: 1em;
        margin: 0;
    }
}

.hamburger {
    @include no-select;
    display: inline-block;
    width: 50px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;

    & .hamburger-closed {
        display: inline-block;
        height: 27px;
        position: relative;
    }

    & .hamburger-opened {
        display: none;
        width: 40px;
    }
}

.nav-open {
    & .hamburger-opened {
        display: inline-block;
        left: -4px;
        height: 27px;
        position: relative;
    }

    & .hamburger-closed {
        display: none;
    }
}

.nav-wrap {
    height: 0;
    overflow: hidden;
    clear: both;
    width: 100%;
    @media #{$mq-medium} {
        height: auto;
        clear: right;
        padding: 0;
        margin: 0;
        overflow: inherit;
        display: inline-block;
        width: auto;
        float: right;
        border: none;
    }
}

.main-nav ul {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;

    @media #{$mq-medium} {
        padding: .5em 0 0 0;
        float: right;
        margin: 1.5em 0 3px 0;
        width: auto;
        display: inline;
    }
}

.main-nav ul li {
    padding: 0;
    position: relative;
    display: block;

    & a {
        padding: .5em 5em .5em 1.5em;
        display: block;
        color: #000;
        text-decoration: none;
    }

    @media #{$mq-medium} {
        display: inline-block;
        padding: 0 .5em 0 0;
        border: none;
        margin: 0 0 0 .5em;
        border-bottom: none;

        & a {
            @include transition(color 300ms, border 300ms);
            margin: 0 1.5em 0 0;
            padding: 0;
            border-bottom: solid 3px #fff;
            display: inline-block;
        }
    }
}

.primary-nav__item {
    font-family: $titleFont;
    background-color: $primaryDark;
    border-bottom: solid 1px $neutral;

    & > a {
        color: #fff !important;
        font-weight: 600 !important;
        text-decoration: none;
    }

    @media #{$mq-medium} {
        background-color: transparent;
        border-bottom: none;

        & > a {
            color: #000 !important;
            margin: 0 !important;
            padding: 0 !important;

            &:hover {
                border-bottom: solid 3px $primary;
                color: $primary !important;
            }
        }

        &:hover {

            & .secondary-expander {
                transform: rotate(-180deg);
            }
        }

        &:last-of-type {
            & > ul {
                margin: 0 0 0 -8em;
            }
        }
    }

    @media #{$mq-xlarge} {
        &:last-of-type {
            & > ul {
                margin: 0 0 0 -5em;
            }
        }
    }
}

li.Highlighted {
    @media #{$mq-medium} {

        & > a {
            color: $primary !important;
            border-bottom: solid 3px $primary !important;
        }
    }
}


.utility-nav{
    margin:0;
    padding:.5rem 0;
    list-style-type:none;
    text-align:center;
    border-top:solid 1px  $primaryDark;
    & li{
        font-size:1rem;
        display:inline;
        & a{
            @extend %nav-links;            
            padding:.5rem 1rem;
        }
    }

    @media #{$mq-medium}
    {
        text-align:left;
        border-top:none;
        padding:0;
        text-align:initial;
        display:inline-block;
        float:right;
        & li:last-of-type{
            & a{
                padding:.5rem 0 .5rem 1rem;
            }
        }
    }
}



