header {
    @include box-sizing();
    width: 100%;
    margin: 0 auto;
    padding: 1em 0;
    position: fixed;
    top: 0;
    z-index: 500;
    border-bottom: solid 1px #ccc;
    background-color: #fff;
    max-height: 100%;
    overflow-y: auto;

    @media #{$mq-large} {
        
        max-height: initial;
        overflow-y: visible;
    }
}

.logo-link {
    display: inline-block;
}

.logo {
    height: 3em;
    width: auto;
    display: inline-block;
    border: none;
    padding: 0 0 0 2.5%;

    @media #{$mq-large} {
        height: 4em;
        padding: 0;
    }
}



%nav-links {
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.nav-launch {
    @include no-select;
    @extend %nav-links;
    float: right;
    margin: 0 .5em 0 0;
    height: 50px;
    display: inline-block;

    @media #{$mq-large} {
        display: none;
    }

    & a {
        @include no-select();
        border-bottom: solid 1px $neutral;
        text-decoration: none;
    }
}


.nav-launch__title {
    font-size: .75em;
    font-weight: 400;
    padding: 0;
    margin: 0 0 0 .5em;
    line-height: .75em;

    @media #{$mq-580} {
        font-size: 1em;
        margin: 0;
    }
}

.hamburger {
    @include no-select;
    display: inline-block;
    width: 50px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    position: relative;

    & .hamburger-closed {
        display: inline-block;
        height: 27px;
        position: relative;
    }

    & .hamburger-opened {
        display: none;
        width: 40px;
    }
}

.nav-open {
    & .hamburger-opened {
        display: inline-block;
        //top:-1em;
        left: -4px;
        height: 27px;
        position: relative;
    }

    & .hamburger-closed {
        display: none;
    }
}

.nav-wrap {
    height: 0;
    overflow: hidden;
    clear: both;
    width: 100%;
    //    border-top: solid 5px #000;
    @media #{$mq-large} {
        height: auto;
        clear: right;
        padding: 0;
        margin: 0;
        overflow: inherit;
        display: inline-block;
        width: auto;
        float: right;
        border: none;
    }
}

.main-nav ul {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;

    @media #{$mq-large} {
        padding: .5em 0 0 0;
        float: right;
        margin: 1.5em 0 3px 0;
        width: auto;
        display: inline;
    }
}

.main-nav ul li {
    padding: 0;
    position: relative;
    display: block;

    & a {
        padding: .5em 5em .5em 1.5em;
        display: block;
        color: #000;
        text-decoration: none;
    }

    @media #{$mq-large} {
        display: inline-block;
        padding: 0 .5em 0 0;
        border: none;
        margin: 0 0 0 .5em;
        border-bottom: none;

        & a {
            @include transition(color 300ms, border 300ms);
            margin: 0 1.5em 0 0;
            padding: 0;
            border-bottom: solid 3px #fff;
            display: inline-block;
        }
    }
    //hiding secondary nav
    & ul {
        position: relative;
        padding: 0;
        height: 0;
        overflow: hidden;
        width: 100%;
        z-index: 50;


        & li {
            display: block;
            margin: 0;
            padding: 0;
            font-size: .9em;
            font-weight: 400;
            border: solid darken($neutral,10);
            border-width: 1px 0 0 0;
            position: relative;
            clear: both;

            @media #{$mq-large} {
                border: none;
                @include transition(background-color 100ms);

                & a {
                    @include transition(color 300ms);
                    display: block;
                    text-decoration: none;
                    font-weight: 300;
                    padding: 1em 1em .5em 1em;
                    line-height: 3em;
                    border: none !important;
                    color: $primaryDark;

                    &:hover {
                        color: $primary;
                    }
                }
            }
        }

        @media #{$mq-large} {
            margin: 0 0 0 -5em;
            position: absolute;
            top: 2em;
            left: 0;
            width: 16em;
        }
    }
}

.primary-nav__item {
    font-family: $titleFont;
    background-color: $primaryDark;
    border-bottom: solid 1px $neutral;

    & > a {
        color: #fff !important;
        font-weight: 600 !important;
        text-decoration: none;
    }

    @media #{$mq-large} {
        background-color: transparent;
        border-bottom: none;

        & > a {
            color: #000 !important;
            margin: 0 !important;
            padding: 0 !important;

            &:hover {
                border-bottom: solid 3px $primary;
                color: $primary !important;
            }
        }

        &:hover {

            & .secondary-expander {
                transform: rotate(-180deg);
            }
        }

        &:last-of-type {
            & > ul {
                margin: 0 0 0 -8em;
            }
        }
    }

    @media #{$mq-xlarge} {
        &:last-of-type {
            & > ul {
                margin: 0 0 0 -5em;
            }
        }
    }
}

li.Highlighted {
    @media #{$mq-large} {

        & > a {
            color: $primary !important;
            border-bottom: solid 3px $primary !important;
        }
        /*& .secondary-expander {
            content: url(../img/svg/circle-arrow-blue.svg);
        }*/
    }
}

.nav-expander, .primary-expander, .secondary-expander {
    @include no-select;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0em;
    right: .75em;
    padding: .75em;

    @media #{$mq-large} {
        @include transition(transform 300ms);
        position: absolute;
        display: inline-block;
        top: -1px;
        right: .25em;
        width: 16px;
        height: 16px;
        padding: 4px;
    }
}

